[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
faker = "*"
webdriver-manager = "*"
nose2 = "*"
behave = "*"
allure-behave = "*"
pyhamcrest = "*"

[dev-packages]

[requires]
python_version = "3.11"
